<header class="has-background-light px-5 py-4"> <!-- Navbar with Bulma styling -->
  <div class="columns is-vcentered is-mobile is-justify-content-space-between">
    <!--  Title -->
    <div class="column is-narrow">
      <h1 class="title is-3 mb-0"> WeatherTop</h1>
    </div>

    <!--  Navigation Buttons -->
    <div class="column is-narrow">
      <div class="buttons">
        
        <a class="button is-light is-size-5" href="/dashboard">Dashboard</a> <!-- links to dashboard -->
        <a class="button is-light is-size-5" href="">About</a>


 {{#if isLoggedIn}}
          <!-- real logged-in user -->
          <form method="POST" action="/logout" style="display:inline;">
            <button class="button is-light is-size-5">Logout</button>
          </form>
        {{else}}
          <!-- guest or not logged in -->
          <a class="button is-light is-size-5" href="/login">Login</a>
          <a class="button is-link is-size-5" href="/signup">Sign up</a>
        {{/if}}
        
      </div>
    </div>
  </div>
</header>