<img src="{{iconFor code}}" alt="Weather Icon" style="height:40px;vertical-align:middle;">
<span class="ml-2 is-size-7 has-text-grey">Code: {{code}}</span> <!--takes value submitted and returns corresponding weather icon -->