<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>WeatherTop</title>

  <!--   Bulma CSS  styling  -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
  />
</head>

<body class="has-background-light">

     <!-- inserts Navbar which is reuseable  -->
  {{> navbar }}

  <!-- dashboard.hbs or station.hbs get rendered -->
  <section class="section">
    <div class="container">
      {{{body}}}  <!--   for  rendering https://handlebarsjs.com/guide/expressions.html#html-escaping  -->
    </div>
  </section>

</body>
</html>