<h1>Login</h1>
<form method="POST" action="/login"> <!-- login page https://developer.mozilla.org/en-US/docs/Learn_web_development/Extensions/Server-side/Express_Nodejs/forms -->
  <input name="email" type="email" placeholder="Email" required> <!-- Requires email https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input/email-->
  <input name="password" type="password"  required> <!-- Requires password -->
  <button>Log in</button>
</form>
<p>No account? <a href="/signup">Sign up</a></p><!-- link to sign up -->
