<h1>Sign up</h1> 

<!-- Signup form  -->
<form method="POST" action="/signup">
  
  
  <input name="name" placeholder="Name">

  <!-- Email  -->
  <input name="email" type="email" placeholder="Email" required>

  <!-- Password https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/password -->
  <input name="password" type="password" placeholder="Password" required> 

  <!-- Submit button -->
  <button>Create account</button> 
</form>

<!-- Link for users who already have an account -->
<p>Already have an account? <a href="/login">Log in</a></p> <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a -->
